<div class="example-container mat-elevation-z8">
  <h2>Edit Competition Information</h2>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
     <!-- <a mat-flat-button color="primary" (click)="goToCompetitionDetails()"><mat-icon>info</mat-icon></a>
or using routerLink-->
      <a mat-flat-button color="primary" [routerLink]="['/competition-details/',id]"><mat-icon>info</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="competitionForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Competition Name" formControlName="name"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!competitionForm.controls['name']?.valid && competitionForm.controls['name']?.touched">Please enter the Competition Name</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input matInput  placeholder="at country" formControlName="country"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!competitionForm.controls['country']?.valid && competitionForm.controls['country']?.touched">Please enter the Country</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDate" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      <mat-error>
          <span *ngIf="!competitionForm.controls['startDate']?.valid && competitionForm.controls['startDate']?.touched">Please enter the Start Date</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      <mat-error>
          <span *ngIf="!competitionForm.controls['startDate']?.valid && competitionForm.controls['startDate']?.touched">Please enter the Start Date</span>
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!competitionForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
